@model IEnumerable<WebLayer.Models.UserModel>
@using WebLayer.Models;


<h2>Followings</h2>

@foreach (UserModel user in @Model)
{
    <div>
        @Html.ActionLink(user.UserName, "Index", new { userName = user.UserName })
    </div>
}
