@using WebLayer.Models;
@model IEnumerable<ImageModel>

<div id="searchresults">
    <ul>
        @foreach (var i in Model)
        {
            <li>
                <img src="@Url.Content(i.Url)" alt="Image" class="galeryImage" id="@i.Id" width="400" />
                <span class="imageDescription">@i.Description</span>
            </li>
        }
     </ul>
 </div>