@{
    ViewBag.Title = "Окончание регистрации";
}
<div class="col-sm-3"></div>
<div class="col-sm-6">
    <h2>Вы были успешно зарегистрированы. Используйте свой адрес электронной почты и пароль для входа на сайт</h2>
</div>
<div class="col-sm-3"></div>/